<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>hello word</h1>
	<h2 th:text="'Votre Formateur est ' +${name}"></h2>
	<h3>
		les nombres des utilisateurs sont : <span th:text="${listNb}"></span>
	</h3>
	<h4>liste des utilisateurs</h4>
	<ul>
		<li th:each="user : ${list}"><span th:text="${user}"></span></li>
	</ul>

	<h4>la liste de candidats sont:</h4>
	<table border="1" width="100%">
		<tr>
			<th>Nom :</th>

			<th>Prenom :</th>

			<th>email :</th>
		</tr>
		<tr th:each="candidats : ${candidats}">
			<th th:text="${candidats.name}"></th>
			<th th:text="${candidats.prenom}"></th>
			<th th:text="${candidats.email}"></th>
		</tr>
	</table>
</body>
</html>